<% provide(:title, 'show Task') %>


<h1>タスク詳細</h1>

<% @tasks.each do |task| %>
<table class="table table-bordered" id="table-task">
      <tbody>
        <tr>
          <td>ID</td>
          <td><%= @user.id %></td>
        </tr>
        
        <tr>
          <td>名称</td>
          <td><%= @task.name %></td>
        </tr>
        
         <tr>
          <td>詳細</td>
          <td><%= @task.content %></td>
        </tr>
        
         <tr>
          <td>作成日</td>
          <td><%= @task.created_at %></td>
        </tr> 
        
        <tr>
          <td>更新日</td>
          <td></td>
        </tr>
        
      </tbody>
    </table>

    <div>
     <%= link_to "編集", edit_user_task_path(@user,@task), class: "btn btn-lg btn-success btn-newl" %>
     <%= link_to "削除", user_task_path(current_user.id), class: "btn btn-lg btn-danger btn-cancel" %>
     </div>
     
     